@font-face {
  font-family: 'Halo';
  src: url('/assets/fonts/Halo.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   url('/assets/fonts/Halo.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

.banner {
  /* height: 100%; */
  width: 100%;
  max-width: 100%;
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center center;
}

.banner-1{
  background-image: url('/assets/images/home.jpg');
  height: 100vh;
}

.banner-2{
  background-color: #000000;
  height: 100vh;
}

.title-large{
  font-size: 100px;
}

.title-middle{
  font-size: 50px;
}

.pricing-title{
  font-size: 50px;
}

.vh {
  height: 100vh;
}

.pricing-card{
  /* background-color: #000000; */
  /* background-color: rgba(52,58,64,0.1); */
  opacity: 0.8;
}

.title-center{
  position: center;
}

.title-center2{
  position: absolute;
  padding-top: 240px;
}

.title-bottom{
  position: absolute;
  padding-top: 480px;
}

.container-fluid {
  
}

.navbar-nottransparent {
  background-color: #000000;
}

.project-repo{
  border-right: 1px solid white;
  padding-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.transparent-bg {
  background-color: #000;
}

.masked-copy { 
  /* This is it! Magic: */
  -webkit-background-clip: text;
  color: transparent !important;
  
}
.masked-copy p {
  /* display: inline; */
}
.texture-1 {
  /* Set the text color to a solid, in case our super cool effects don't work.  */
  color: #e5895f;
  
  /* 
  The Apple stylesheet supplies a `background-repeat: no-repeat;` rule here. 
  You can do the same, as long as your background image
  is at least as large as your text will be. Otherwise, 
  text that falls outside of the background image will be 
  invisible, and that's not good. 
  */ 
  /* background-repeat: no-repeat; */
  
  /* Also, hey, I hate hot-linking this, but uh... I'll upload my own asset soon? 😬 */
  background-image: url("/assets/images/texture1.jpg");
}
.texture-2{
  color: purple;
  background-image: url("/assets/images/texture2.jpg");
}
.texture-3{
  color: skyblue;
  background-image: url("/assets/images/texture6.jpg");
}
.texture-4{
  color: #e5895f;
  background-image: url("/assets/images/texture9.jpg");
}
.texture-5{
  color: #e5895f;
  background-image: url("/assets/images/texture8.jpg");
}
.big-type { 
  /* Copied almost wholesale from the Apple site CSS; changed the font-stack */
  font-size: 64px;
  line-height: 1.0625; /* The height Apple used to tighten up the spacing a bit. */
  font-weight: 600; /* Nice, chunky, bold! */
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
}

.wecoop{
  color: whitesmoke;
  /* background-image: url("/assets/images-bg-img.jpg"); */
  font-family: "Halo";
  /* text-shadow: -0.06em 0 red, 0.06em 0 cyan; */
}

.text-green{
  color: green;
}

.text-red{
  color: red;
}